

.list-group-item {
    background: linear-gradient(135deg, #1E90FF, #0047AB);
    border: none;
    font-family: "Playfair Display", serif;
    font-size: 17px;
    color: white;
}

.list-group-item i {
    font-size: 15px;
}

.list-group-item:hover {
    background: blue;
}
