/* 
  .title {
    margin-bottom: 2rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 50px;
  }

  .typewriter{
    font-family: "Orbitron", sans-serif;
    color: #8E2DE2;
  }

  #box3{
    background: url('../../img/logo1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
  }

  .btn-hover{
    position: absolute; /* Set absolute positioning */
    top: 12rem; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-family: "Playfair Display", serif;
    font-size: 17px;
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 5px;

  
  .box-group {
    justify-content: space-between;
    padding: 2rem;
    overflow: hidden;
    background: linear-gradient(135deg, #141E30, #FFFFFF);
  }
  
  .box {
    position: relative;
    margin-top: 2rem; /* Adjust margin between title and boxes */
    width: 15rem !important;
    height: 15rem !important;
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Futuristic box shadow */
    border-radius: 2rem;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition */
  }
  
  .box:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Increase box shadow on hover */
    background-color: rgba(0, 0, 0, 0.1); /* Darken background color on hover */
  }
  
  #box2 {
    border-radius: 2rem;
    -webkit-filter: drop-shadow(2px 4px 6px black);
            filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
  }
  
.youtube{
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}


  #box1 {
    border-radius: 2rem;
    -webkit-filter: drop-shadow(2px 4px 6px black);
            filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
  }
  .bi-sun-fill  {
    position: relative;
    
  }
  #box3 {
    border-radius: 2rem;
    -webkit-filter: drop-shadow(2px 4px 6px black);
            filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    
  }

  .icon-container{
    position: relative;
  }

  #icon{
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    color: white;
    left: -30px;
    cursor: pointer;
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
  }


.icon-container #icon{
    position: absolute;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

#box3:hover #icon{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
    background-color: transparent;
    color: #ffffff;
    
}
  #box4 {
    border-radius: 2rem;
    -webkit-filter: drop-shadow(2px 4px 6px black);
            filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
    overflow: hidden;
    overflow-x: auto;
  }

  .calendar {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .MuiPickersDay-root {
    font-size: 1rem; /* Adjust the font size as needed */
    padding: 5px; /* Adjust the padding as needed */
    width: 3px; /* Adjust the width of each day cell as needed */
    height: 3px; /* Adjust the height of each day cell as needed */
  }
  .bi-sun-fill {
    font-size: 5rem;
    color: #ffd700;
    padding-left: 4rem;
  }


@media screen and (max-width: 1200px) {
    .dashboard-content{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .dashboard-content{
        align-items: center;
    }
}
@media screen and (max-width: 375px)
{
    .dashboard-content{
        margin: auto;
    }

    .box-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */



.card {
  height: 10rem;
  width: 100%; /* Each card takes full width */
  margin-bottom: 20px;
  font-size: 20px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
  .box-group {
    justify-content: space-evenly;
    padding: 2rem;
    overflow: hidden;
    background: transparent;
  }
.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 200px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 2rem;
  color: #333;

}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
 
  
}

/* Specific styles for each card */
#ecpi {
  background-image: url(../../../img/ecpi.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#janbask{
  background-image: url(../../../img/janbask.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#vti {
  background-image: url(../../../img/vti.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#pentesting {
  background-image: url(../../../img/pentesting.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#cyber{
  background-image: url(../../../img/cyber.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
    .education-content{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .education-content{
        align-items: center;
    }
}
@media screen and (max-width: 375px)
{
    .education-content{
        margin: auto;
        
    }
    .box-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}