.main-wrapper {
    height: 97vh;
    border-radius: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: rgba(0, 0, 0, 0.294);
    overflow: hidden;
    
.dashboard-container{
  display: grid;
  grid-template-columns: 18rem auto 18rem;
  gap: 10px;
}
  }
  
  .title {
    margin-bottom: 2rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 50px;
  }

  .typewriter{
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    color: #8E2DE2;
  }

  #box3{
    background: url('../../img/logo1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
  }

  .btn-hover{
    position: absolute; /* Set absolute positioning */
    top: 12rem; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-family: "Playfair Display", serif;
    font-size: 17px;
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
  }

  
  .box-group {
    padding: 2rem;
    flex: 1;
    height: 7rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(135deg, #141E30, #FFFFFF);
  }
  
  .box {
    margin-top: 2rem; /* Adjust margin between title and boxes */
    width: 15rem;
    height: 15rem;
    background: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Futuristic box shadow */
    border-radius: 2rem;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition */
  }
  
  .box:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Increase box shadow on hover */
    background-color: rgba(0, 0, 0, 0.1); /* Darken background color on hover */
  }
  
  #box2 {
    border-radius: 2rem;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
  }
  
.youtube{
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}


  #box1 {
    border-radius: 2rem;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
  }
  
  #box3 {
    border-radius: 2rem;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    
  }

  .icon-container{
    position: relative;
  }

  #icon{
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    color: white;
    left: -30px;
    cursor: pointer;
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
  }


.icon-container #icon{
    position: absolute;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

#box3:hover #icon{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
    background-color: transparent;
    color: #ffffff;
    
}
  #box4 {
    border-radius: 2rem;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
    overflow: hidden;
    overflow-x: auto;
  }

 .calendar-content .calendar {
  width: 15rem;
  height: 15rem;
}

.MuiPickersDay-root {
  font-size: 5px;
  padding: 5px;
}
  .bi-sun-fill {
    font-size: 5rem;
    color: #ffd700;
    padding-left: 4rem;
  }
.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
