.img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 30%;
    margin: 1rem auto; /* Adjust margin for centering */
}

.list-group-item {
    background: linear-gradient(135deg, #1E90FF, #0047AB);
    border: none;
    font-family: "Playfair Display", serif;
    font-size: 17px;
    color: white;
}

.list-group-item i {
    font-size: 15px;
}

.list-group-item:hover {
    background: blue;
}

.card {
    background: rgba(0, 0, 0, 0.294);
    color: white;
    min-height: 100vh; /* Use min-height to ensure card expands with content */
    border: none;
    flex: 1;

}
.sidebar-container{
    background: rgba(0, 0, 0, 0.294);
    color: white;
    min-height: 100vh; /* Use min-height to ensure card expands with content */
    border: none;
    display: flex; /* Use flex display for responsive layout */
    flex-direction: column; /* Align children in column */
    gap: 1rem; /* Adjust spacing between children */
}

.typewrite{
    font-size: 17px;
    font-family: "Orbitron", sans-serif;
    color: #6d83ff;
    margin-bottom: 25px;

}

.music{
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
}
.icon {
    margin-right: 10px;
}

.socials {
    display: flex; /* Use flex display for horizontal alignment */
    justify-content: center; /* Align items horizontally */
}

.socials .list-group-item {
    margin: 0 5px; /* Adjust spacing between social icons */
}
