
.card {
    background: rgba(0, 0, 0, 0.294);
    color: white;
    height: auto;
    border: none;
    flex: 1;

}


.close-btn{
    position: absolute;
    right: 3px !important;
    padding-top: 10px;
}
.btn-close{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

}
.bg{
    background: black
}


.sidebar-container{
    background: rgba(0, 0, 0, 0.294);
    color: white;
    border: none;
    display: flex; /* Use flex display for responsive layout */
    flex-direction: column; /* Align children in column */
    gap: 1rem; /* Adjust spacing between children */
}

.typewrite{
    font-size: 17px;
    font-family: "Orbitron", sans-serif;
    color: #6d83ff;
    margin-bottom: 25px;

}

.music{
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
}
.icon {
    margin-right: 10px;
}

.socials {
    display: flex; /* Use flex display for horizontal alignment */
    justify-content: center; /* Align items horizontally */
}

.socials .list-group-item {
    margin: 0 5px; /* Adjust spacing between social icons */
}

@media screen and (max-width: 768px) {
    .sidebar-container{
      position: fixed;
      z-index: 9;
      background: #ffe0e0;
      width: 55%;
      padding-right: 1rem;
      height: 100%;
    }
    .menuItem>span{
      display: block;
    }
    .logo{
      display: flex;
    }
    .menu .menuItem:last-child {
      position: relative;
      margin-top: 6rem;
    }
    .bars{
      display: flex;
      position: fixed;
      top: 2rem;
      left:60%;
      background:#ffe0e0;
      padding:10px;
      border-radius: 10px;
      z-index: 9;
    }
    .close{
      left: -60%;
    }
  }
  @media screen and (min-width: 1040px) {
    .sidebar-container{
      position: fixed;
      background: #000000;
      width: 55%;
      height: auto;
      font-size: 20px;
      padding: 2rem;
      
    }
  }