.app{
    color: aliceblue;
    background: #4B0082;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass{
    display: grid;
   height: 97%;
    width: 97%;
    background: linear-gradient(135deg, #4B0082, #8A2BE2);
    border-radius: 2rem;
    gap: 10px;
    grid-template-columns: 18rem auto 18rem;
    overflow: hidden;
}


/* @media screen and (max-width: 1200px) {
    .glass{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .glass{
      grid-template-columns: 1fr;
    } 
  } */